target/**
catalog/**
.mule/**
src/main/app/mule-app.properties
src/main/app/mule-deploy.properties
src/main/resources/development.*
src/main/resources/google.json
.settings/org.mulesoft.exportwizardsettings.prefs
